<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fish Species Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Fish Species Prediction</h1>
      <form action="/" method="post">
        <label for="Weight">Weight:</label>
        <input
          type="number"
          id="Weight"
          name="Weight"
          step="0.01"
          min="0"
          required
        />
        <br />
        <label for="Length1">Length1:</label>
        <input
          type="number"
          id="Length1"
          name="Length1"
          step="0.01"
          min="0"
          required
        />
        <br />
        <label for="Length2">Length2:</label>
        <input
          type="number"
          id="Length2"
          name="Length2"
          step="0.01"
          min="0"
          required
        />
        <br />
        <label for="Length3">Length3:</label>
        <input
          type="number"
          id="Length3"
          name="Length3"
          step="0.01"
          min="0"
          required
        />
        <br />
        <label for="Height">Height:</label>
        <input
          type="number"
          id="Height"
          name="Height"
          step="0.01"
          min="0"
          required
        />
        <br />
        <label for="Width">Width:</label>
        <input
          type="number"
          id="Width"
          name="Width"
          step="0.01"
          min="0"
          required
        />
        <br />
        <input type="submit" value="Predict" />
      </form>

      {% if prediction_text %}
      <div id="prediction-result">
        <h2>Prediction Result</h2>
        <p><strong>Input Data:</strong></p>
        <p>Length1: {{ input_data.Length1 }}</p>
        <p>Length2: {{ input_data.Length2 }}</p>
        <p>Length3: {{ input_data.Length3 }}</p>
        <p>Height: {{ input_data.Height }}</p>
        <p>Width: {{ input_data.Width }}</p>

        <h3>Prediction:</h3>
        <p>{{ prediction_text }}</p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
